# === API CONFIG  1 file ===
APP_PORT=8080
JWT_SECRET=change_me_in_production
TokenTTL=2h

DB_HOST=db
DB_PORT=5432
DB_USER=root
DB_PASSWORD=root
DB_NAME=uptime_db
DB_SSL_MODE=disable

KAFKA_BROKER=kafka:9092
KAFKA_TOPIC_TASKS=site.checks.task
KAFKA_TOPIC_RESULTS=site.check.results
KAFKA_GROUP_ID=api-group

SCHEDULER_LIMIT=50
SCHEDULER_INTERVAL=10s

# === WATCHER CONFIG 2 file ===
APP_PORT=8081

KAFKA_BROKER=kafka:9092
KAFKA_TOPIC_TASKS=site.checks.task
KAFKA_TOPIC_RESULTS=site.check.results
KAFKA_GROUP_ID=watcher-group

HTTP_TIMEOUT=10s

MAX_TASK_AGE=5m
MIN_CONCURRENCY=5
MAX_CONCURRENCY=200

MONITOR_CPU_LOW=50
MONITOR_CPU_HIGH=80
MONITOR_INCREMENT=5
MONITOR_THROTTLE=0.8
MONITOR_INTERVAL=10s