# === API CONFIG  1 file ===
APP_PORT=8080
JWT_SECRET=change_me_in_production

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=root
DB_NAME=uptime_db
DB_SSL_MODE=disable

KAFKA_BROKER=localhost:9092
KAFKA_TOPIC_TASKS=site.checks.task
KAFKA_TOPIC_RESULTS=site.check.results

SCHEDULER_LIMIT=50
SCHEDULER_INTERVAL=10s

# === WATCHER CONFIG 2 file ===
KAFKA_TOPIC_SITE_CHECK=site.checks.task
KAFKA_TOPIC_CHECK_RESULT=site.check.results
HTTP_TIMEOUT=10s